.info-container {
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(100vh - 64px);
  gap: 2rem;
  background-color: #fff;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

.type_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.type_list li {
  list-style: none;
  flex: 0 1 auto;
}


.info-container>div {
  flex: 0.4 1 5rem;
}

.pokemon-image {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  width: 50vw;

}

.pokemon-image img {
  z-index: 2
}