.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 3rem;
}

.dots {
    width: 40rem;
}

.pokeball {
    width: 80%;
}
