.button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary {
  background-color: #EA5D60;
  color: white;
}

.primary:hover {
  background-color: #D44C4F;
}

.secondary {
  background-color: #F2F2F2;
  color: #747476;
}

.secondary:hover {
  background-color: #E0E0E0;
}

.disabled {
  background-color: #E0E0E0;
  color: #B0B0B0;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #E0E0E0;
}