.flagButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0.5rem;
  display: flex;
}

.flagImg {
  flex: 0 1 4rem;
}

.flagImg:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
