.inputIcon {
  position: relative;
  left: 1rem;
  top: 2.3rem;
  width: 2rem;
}

.input {
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border: none;
}

.inputContainer {
  width: 100%;
}

.inputWithIcon {
  padding-left: 4rem;
}

.boxShadow {
  box-shadow: 0px 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.wFull {
  width: 100%;
}

.border {
  border: solid 0.1rem gray;
}

.bg {
  background-color: rgb(247, 247, 247);
}

.border:focus {
  border: solid 0.1rem gray;
}