.tab-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #333;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}


.tab-button.active {
    border-bottom: 2px solid #4a90da;
    color: #4a90da;
}