.textSmall {
  font-size: 0.75rem; /* 12px */
}

.textMedium {
  font-size: 1rem; /* 16px */
}

.textLarge {
  font-size: 1.25rem; /* 20px */
}

.textXl {
  font-size: 1.5rem; /* 24px */
}

.textXxl {
  font-size: 2rem; /* 32px */
}

.textMamouth {
  font-size: 6rem; /* 96px */
}

.capitalize {
  text-transform: capitalize;
}

.fontMedium {
  font-weight: 500;
}

.fontBold {
  font-weight: 700;
}

.textWhite {
  color: white;
}

.textBlack {
  color: black;
}

.textGray {
  color: #747476;
}

.text-water {
  color: var(--color-water);
}

.text-dark {
  color: var(--color-dark);
}

.text-steel {
  color: var(--color-steel);
}

.text-rock {
  color: var(--color-rock);
}

.text-psychic {
  color: var(--color-psychic);
}

.text-poison {
  color: var(--color-poison);
}

.text-normal {
  color: var(--color-normal);
}

.text-ice {
  color: var(--color-ice);
}

.text-ground {
  color: var(--color-ground);
}

.text-grass {
  color: var(--color-grass);
}

.text-ghost {
  color: var(--color-ghost);
}

.text-flying {
  color: var(--color-flying);
}

.text-fire {
  color: var(--color-fire);
}

.text-fighting {
  color: var(--color-fighting);
}

.text-fairy {
  color: var(--color-fairy);
}

.text-electric {
  color: var(--color-electric);
}

.text-dragon {
  color: var(--color-dragon);
}

.text-bug {
  color: var(--color-bug);
}
