.textSmall {
  font-size: 0.75rem; /* 12px */
}

.textMedium {
  font-size: 1rem; /* 16px */
}

.textLarge {
  font-size: 1.25rem; /* 20px */
}

.textXl {
  font-size: 1.5rem; /* 24px */
}

.textXxl {
  font-size: 2rem; /* 32px */
}

.textMamouth {
  font-size: 6rem; /* 96px */
}

.capitalize {
  text-transform: capitalize;
}

.fontMedium {
  font-weight: 500;
}

.fontBold {
  font-weight: 700;
}

.textWhite {
  color: white;
}

.textBlack {
  color: black;
}

.textGray {
  color: #747476;
}
