.languageSelection {
  background-color: var(--primary);
  display: flex;
  padding: 3rem 4rem;
  align-items: center;
  gap: 1rem;
}

.languageList {
  display: flex;
  list-style: none;
  gap: 1rem;
}
