.pokemon-data {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  color: #333;
}

.pokemon-data-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pokemon-data-list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #eaeaea;
  flex: 0 1 auto;
}