.pokemon-info {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.type_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.type_list li {
    list-style: none;
    flex: 0 1 auto;
}

.info-container {
    display: flex;
    justify-content: space-around;
}

.info-container>div {
    flex: 0.4 1 5rem;
}

.pokemon-image {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 50vw;

}

.pokemon-image img {
    z-index: 2
}