.statItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #eaeaea;
  flex: 0 1 auto;
}

.title {
  text-align: start;
}

.statItem>span {
  flex: 0 1 8rem;
}

.data {
  text-align: center;
}

.bar {
  width: 100%;
  appearance: none;
}

.bar::-webkit-progress-bar {
  color: #62B957;
  height: 0.5rem;
  background-color: transparent;
  border: 0.02rem solid gray;
  border-radius: 0.2rem;
}