.badge {
  display: inline-flex;
  align-items: center;
  margin: 0.25em 0.5em 0.25em 0;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: bold;
  color: #fff;
  max-width: 100px;
  gap: 0.5em;
}
