.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  gap: 0.5rem;
}

.buttonList {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.buttonList li {
  margin: 0;
  flex: 1 202 auto;
}

.hiddenPokemon {
  min-height: 475px;
}
