.pokemon-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 8rem;
}

.pokemon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  width: 100%;
}

li {
  flex-basis: 375px;
}

.pokemon-list-range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.pokemon-list-range-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.pokemon-list-range-form>*>input {
  width: 100%;
}


.pokemon-list-range-actions {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}