.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 40px 0;
  position: relative;
}

.cardInfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  flex-basis: 220px;
  z-index: 2;
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 65px;
}

.cardImage>img {
  transform: scale(3);
}

.dots {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40%;
}

.pokeball {
  position: absolute;
  right: 0;
  top: 0;
  height: 313px;
}

.typeList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 0.5rem;
}

.typeList>li {
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}