@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto.ttf') format('ttf');
}

html {
  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

:root {
  --color-water: #4a90da;
  --color-dark: #58575f;
  --color-steel: #417d9a;
  --color-rock: #baab82;
  --color-psychic: #ea5d60;
  --color-poison: #a552cc;
  --color-normal: #9da0aa;
  --color-ice: #61cec0;
  --color-ground: #dd7748;
  --color-grass: #62b957;
  --color-ghost: #556aae;
  --color-flying: #748fc9;
  --color-fire: #fd7d24;
  --color-fighting: #d04164;
  --color-fairy: #ed6ec7;
  --color-electric: #eed535;
  --color-dragon: #0f6ac0;
  --color-bug: #8cb230;

  --bg-water: #58abf6;
  --bg-steel: #4c91b2;
  --bg-rock: #d4c294;
  --bg-psychic: #ff6568;
  --bg-poison: #9f6e97;
  --bg-normal: #b5b9c4;
  --bg-ice: #91d8df;
  --bg-ground: #f78551;
  --bg-grass: #8bbe8a;
  --bg-ghost: #8571be;
  --bg-flying: #83a2e3;
  --bg-fire: #ffa756;
  --bg-fighting: #eb4971;
  --bg-fairy: #eba8c3;
  --bg-electric: #f2cb55;
  --bg-dragon: #7383b9;
  --bg-dark: #6f6e78;
  --bg-bug: #8bd674;

  --primary: #ea5d60;
}

.water {
  background-color: var(--color-water);
}

.dark {
  background-color: var(--color-dark);
}

.steel {
  background-color: var(--color-steel);
}

.rock {
  background-color: var(--color-rock);
}

.psychic {
  background-color: var(--color-psychic);
}

.poison {
  background-color: var(--color-poison);
}

.normal {
  background-color: var(--color-normal);
}

.ice {
  background-color: var(--color-ice);
}

.ground {
  background-color: var(--color-ground);
}

.grass {
  background-color: var(--color-grass);
}

.ghost {
  background-color: var(--color-ghost);
}

.flying {
  background-color: var(--color-flying);
}

.fire {
  background-color: var(--color-fire);
}

.fighting {
  background-color: var(--color-fighting);
}

.fairy {
  background-color: var(--color-fairy);
}

.electric {
  background-color: var(--color-electric);
}

.dragon {
  background-color: var(--color-dragon);
}

.bug {
  background-color: var(--color-bug);
}

.bg-water {
  background-color: var(--bg-water);
}

.bg-steel {
  background-color: var(--bg-steel);
}

.bg-rock {
  background-color: var(--bg-rock);
}

.bg-psychic {
  background-color: var(--bg-psychic);
}

.bg-poison {
  background-color: var(--bg-poison);
}

.bg-normal {
  background-color: var(--bg-normal);
}

.bg-ice {
  background-color: var(--bg-ice);
}

.bg-ground {
  background-color: var(--bg-ground);
}

.bg-grass {
  background-color: var(--bg-grass);
}

.bg-ghost {
  background-color: var(--bg-ghost);
}

.bg-flying {
  background-color: var(--bg-flying);
}

.bg-fire {
  background-color: var(--bg-fire);
}

.bg-fighting {
  background-color: var(--bg-fighting);
}

.bg-fairy {
  background-color: var(--bg-fairy);
}

.bg-electric {
  background-color: var(--bg-electric);
}

.bg-dragon {
  background-color: var(--bg-dragon);
}

.bg-dark {
  background-color: var(--bg-dark);
}

.bg-bug {
  background-color: var(--bg-bug);
}